body{
    background-color: #283149;
    text-align: center;
}

h1{
    font-size: 5rem;
    color: #DBEDF3;
}

.set{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    gap: 20px;
}

.drum{
    background-color: #fff;
    width: 150px;
    height: 150px;
    font-size: 5rem;
    font-weight: bolder;
    color: #DA0463;
    border-radius: 5px;
    border: 10px solid #404c6d;
    background-size: cover;
}

.w{
    background-image: url(./images/tom1.png);
    /* background-size: cover; */
}

.a{
    background-image: url(./images/tom2.png);
    /* background-size: cover; */
}

.s{
    background-image: url(./images/tom3.png);
    /* background-size: cover; */
}

.d{
    background-image: url(./images/tom4.png);
    /* background-size: cover; */
}

.j{
   background-image: url(./images/snare.png);
   /* background-size: cover; */
}

.k{
   background-image: url(./images/crash.png);
   /* background-size: cover; */
}

.l{
   background-image: url(./images/kick.png);
   /* background-size: cover; */
}

footer{
    color: #DBEDF3;
}

